._wrapper_1uqbn_1 {
    cursor: pointer;
  }
  ._container_1uqbn_5 {
    width: 100%;
  }
  ._title_1uqbn_9 {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 16px;
    line-height: 116%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fbfbfb;
  }
  ._plusImg_1uqbn_22 {
    display: block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    transition: 0.5s;
  }
  ._plusImg_1uqbn_22._plusOpen_1uqbn_30 {
    transform: rotate(90deg);
  }
  ._description_1uqbn_34 {
    margin-top: 20px;
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #fbfbfb;
  }
  ._description_1uqbn_34 > a {
    color: var(--main-color);
  }
  ._expanderContainer_1uqbn_47 {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.2s;
  }
  ._expanderContainer_1uqbn_47._open_1uqbn_54 {
    grid-template-rows: 1fr;
  }
  ._expander_1uqbn_47 {
    min-height: 0;
    visibility: hidden;
    transition: visibility 0.2s;
  }
  ._expander_1uqbn_47._open_1uqbn_54 {
    visibility: visible;
  }
  @media (min-width: 692px) {
    ._title_1uqbn_9 {
      font-size: 34px;
    }
    ._description_1uqbn_34 {
      font-size: 18px;
    }
    ._plusImg_1uqbn_22 {
      width: 30px;
      height: 30px;
    }
  }
  @media (min-width: 1100px) {
    ._wrapper_1uqbn_1 {
      margin: 0 auto;
      max-width: 1100px;
      width: 100%;
    }
  }
  