._mainWrapper_17x2r_1 {
    position: relative;
    overflow: hidden;
  }
  ._mainWrapper_17x2r_1:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
  }
  ._container_17x2r_16 {
    padding-top: 150px !important;
    padding-bottom: 212px !important;
    text-align: center;
    position: relative;
  }
  ._video_17x2r_23 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    opacity: 0.3;
  }
  ._overlay_17x2r_36 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000004d;
    z-index: 0;
  }
  ._heroWrapper_17x2r_46,
  ._images_17x2r_47 {
    position: relative;
  }
  ._title_17x2r_51 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 116%;
    text-align: center;
    color: #fbfbfb;
  }
  ._selected_17x2r_60 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 116%;
    text-align: center;
    color: var(--main-color);
    text-shadow: 0 0 10px rgba(0, 72, 146, 0.8),
      0 5px 4px rgba(251, 251, 251, 0.3);
  }
  ._description_17x2r_71 {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #fbfbfb;
    margin-top: 18px;
  }
  ._button_17x2r_81 {
    margin-top: 35px;
  }
  ._images_17x2r_47 > ._bars_17x2r_85 {
    width: 50%;
  }
  ._images_17x2r_47 {
    text-align: center;
    margin-top: 30px;
    position: relative;
  }
  ._images_17x2r_47 > ._bars_17x2r_85 {
    position: relative;
    display: inline-block;
  }
  ._images_17x2r_47 > ._bars_17x2r_85:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, #2b8ef3 15%, #000 92%);
    filter: blur(40px);
    z-index: -1;
    animation: _pulse_17x2r_1 2.5s infinite ease-in-out;
  }
  ._images_17x2r_47 > ._bars_17x2r_85 > ._eth_17x2r_113 {
    position: absolute;
    top: 18px;
    left: -40px;
    animation: _bounce_17x2r_1 2s linear infinite;
  }
  ._images_17x2r_47 > ._bars_17x2r_85 > ._bitcoin_17x2r_120 {
    display: none;
  }
  ._text_17x2r_124 {
    position: relative;
  }
  ._text_17x2r_124 > ._bitcoin_17x2r_120 {
    position: absolute;
    top: -60px;
    right: 40px;
    animation: _bounceReverse_17x2r_1 2s 0.3s linear infinite;
  }
  ._statsCardsWrapper_17x2r_135 {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    margin-top: 35px;
  }
  ._marqueeContainer_17x2r_143 {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 100%;
  }
  ._bitcoin_17x2r_120,
  ._eth_17x2r_113 {
    width: 50px;
  }
  @media (min-width: 692px) {
    ._container_17x2r_16 {
      padding-bottom: 342px !important;
    }
    ._title_17x2r_51,
    ._selected_17x2r_60 {
      font-size: 46px;
    }
    ._description_17x2r_71 {
      font-size: 20px;
    }
    ._statsCardsWrapper_17x2r_135 {
      gap: 30px;
    }
    ._images_17x2r_47 > ._bars_17x2r_85 {
      width: 100%;
    }
    ._images_17x2r_47 > ._bars_17x2r_85 > ._barsSvg_17x2r_178 {
      width: 250px;
    }
    ._text_17x2r_124 > ._bitcoin_17x2r_120 {
      top: -100px;
      right: 0;
    }
    ._bitcoin_17x2r_120,
    ._eth_17x2r_113 {
      width: 90px;
    }
    ._marqueeContainer_17x2r_143 {
      position: absolute;
      bottom: -3%;
      left: 0;
      right: 0;
      width: 100%;
    }
  }
  @media (min-width: 1100px) {
    ._mainWrapper_17x2r_1 {
      max-height: 1360px;
      height: 100vh;
    }
    ._container_17x2r_16 {
      padding-top: 212px !important;
      display: flex;
      flex-direction: row !important;
      align-items: start;
      gap: 60px;
    }
    ._video_17x2r_23 {
      min-height: 100vh;
      height: 100vh;
    }
    ._heroWrapper_17x2r_46 {
      width: 45%;
    }
    ._title_17x2r_51 {
      font-size: 42px;
      text-align: left;
    }
    ._selected_17x2r_60 {
      font-size: 62px;
    }
    ._description_17x2r_71 {
      font-size: 16px;
      text-align: left;
    }
    ._text_17x2r_124 > ._bitcoin_17x2r_120 {
      opacity: 0;
      width: 0;
    }
    ._statsCardsWrapper_17x2r_135 {
      justify-content: start;
    }
    ._statsWrapper_17x2r_251 {
      display: flex;
      flex-direction: column-reverse;
    }
    ._button_17x2r_81 {
      align-self: flex-start;
    }
    ._images_17x2r_47 {
      width: 55%;
      margin: 0;
      transform: translateY(-80px);
    }
    ._images_17x2r_47 > ._bars_17x2r_85 > ._barsSvg_17x2r_178 {
      width: 450px;
    }
    ._eth_17x2r_113 {
      width: 120px;
    }
    ._bitcoin_17x2r_120 {
      width: 150px;
    }
    ._images_17x2r_47 > ._bars_17x2r_85 > ._bitcoin_17x2r_120 {
      display: block;
      position: absolute;
      top: 190px;
      right: -80px;
      animation: _bounceReverse_17x2r_1 2s 0.3s linear infinite;
    }
    ._marqueeContainer_17x2r_143 {
      bottom: 5%;
    }
  }
  @media (min-width: 1740px) {
    ._heroWrapper_17x2r_46 {
      width: 50%;
    }
    ._title_17x2r_51 {
      font-size: 62px;
    }
    ._selected_17x2r_60 {
      font-size: 82px;
    }
    ._description_17x2r_71 {
      font-size: 26px;
    }
    ._button_17x2r_81 {
      font-size: 20px !important;
    }
    ._images_17x2r_47 {
      width: 50%;
    }
    ._images_17x2r_47 > ._bars_17x2r_85 > ._barsSvg_17x2r_178 {
      width: 650px;
    }
    ._eth_17x2r_113 {
      width: 180px;
    }
    ._images_17x2r_47 > ._bars_17x2r_85 > ._bitcoin_17x2r_120 {
      top: 40%;
    }
    ._marqueeContainer_17x2r_143 {
      bottom: 0;
    }
  }
  @keyframes _bounce_17x2r_1 {
    0% {
      transform: translateY(0);
      animation-timing-function: ease-in;
    }
    50% {
      transform: translateY(-10px) scale(1.2) rotate(-15deg);
      animation-timing-function: ease-out;
    }
    to {
      transform: translateY(0);
      animation-timing-function: ease-in;
    }
  }
  @keyframes _bounceReverse_17x2r_1 {
    0% {
      transform: translateY(0);
      animation-timing-function: ease-in;
    }
    50% {
      transform: translateY(10px) scale(1.2) rotate(15deg);
      animation-timing-function: ease-out;
    }
    to {
      transform: translateY(0);
      animation-timing-function: ease-in;
    }
  }
  @keyframes _pulse_17x2r_1 {
    0% {
      transform: scale(1);
      opacity: 0.7;
    }
    50% {
      transform: scale(1.15);
      opacity: 1;
    }
    to {
      transform: scale(1);
      opacity: 0.7;
    }
  }
  ._card_suqtr_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  ._text_suqtr_9 {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 200%;
    color: #fbfbfb;
  }
  ._stats_suqtr_17 {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  ._stats_suqtr_17 img {
    width: 34px;
  }
  ._stats_suqtr_17 p {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 133%;
    color: #fbfbfb;
  }
  ._card_suqtr_1._online_suqtr_35 ._stats_suqtr_17 p {
    color: var(--whitecolor);
  }
  @media (min-width: 692px) {
    ._text_suqtr_9 {
      font-size: 15px;
    }
    ._stats_suqtr_17 p {
      font-size: 32px;
    }
  }
  @media (min-width: 1100px) {
    ._text_suqtr_9 {
      font-size: 16px;
    }
    ._stats_suqtr_17 {
      flex-direction: row;
      gap: 10px;
    }
    ._stats_suqtr_17 img {
      height: auto;
    }
  }
  ._cookieNotice_5b0qo_1 {
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 20px;
    z-index: 3;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background: #030303b3;
    border-bottom: 1px solid var(--color-azure-46);
    border-top: 1px solid var(--color-azure-46);
    padding: 34px 24px;
  }
  ._message_5b0qo_15 {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-white-solid);
  }
  ._agreement_5b0qo_23 {
    display: block;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #fefefe;
    margin-top: 8px;
  }
  ._links_5b0qo_33 {
    margin-top: 10px;
    display: flex;
    text-align: left;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
  ._link_5b0qo_33 {
    text-decoration: none;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    color: var(--main-shadow-color);
  }
  ._link_5b0qo_33:hover {
    text-decoration: underline;
  }
  ._okButton_5b0qo_55 {
    margin-top: 25px;
  }
  @media (min-width: 692px) {
    ._message_5b0qo_15 {
      font-size: 24px;
    }
    ._agreement_5b0qo_23 {
      font-size: 16px;
    }
    ._link_5b0qo_33 {
      font-size: 14px;
    }
    ._okButton_5b0qo_55 {
      font-size: 16px;
    }
  }
  @media (min-width: 1100px) {
    ._content_5b0qo_77 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1440px;
      margin: 0 auto;
    }
    ._okButton_5b0qo_55 {
      margin: 0;
    }
  }
  ._wrapper_1mffy_1 {
    align-items: center;
    overflow-x: hidden;
  }
  ._container_1mffy_6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  ._swiperWrapper_1mffy_13 {
    position: relative;
    width: 100%;
    text-align: center;
  }
  ._swiper_1mffy_13 ._swiperSlide_1mffy_19 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
  }
  ._podiumImage_1mffy_26,
  ._desktopSlider_1mffy_30,
  ._safeImg_1mffy_34 {
    display: none;
  }
  @media (min-width: 692px) {
    ._swiper_1mffy_13 ._swiperSlide_1mffy_19 {
      height: 500px;
    }
  }
  @media (min-width: 1100px) {
    ._swiperWrapper_1mffy_13 {
      display: none;
    }
    ._safeImg_1mffy_34 {
      display: block;
      position: absolute;
    }
    ._safeImg_1mffy_34._left_1mffy_54 {
      width: 112px;
      left: 10%;
      top: 10%;
      animation: _bounceRotateReverse_1mffy_1 4s linear infinite;
    }
    ._safeImg_1mffy_34._right_1mffy_61 {
      width: 192px;
      bottom: 15%;
      right: 5%;
      animation: _bounceRotate_1mffy_1 4s linear infinite;
    }
    ._desktopSlider_1mffy_30 {
      margin-top: 100px;
      display: block;
      position: relative;
      z-index: 1;
    }
    ._desktopSliderWrapper_1mffy_75 {
      position: sticky;
      top: 0;
    }
    ._desktopSliderContainer_1mffy_80 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
    }
    ._card_1mffy_87 {
      width: 815px;
      height: 506px;
    }
    ._podiumImage_1mffy_26 {
      display: inline-block;
      animation: _bounce_1mffy_1 2s linear infinite;
      max-width: 700px;
    }
  }
  @keyframes _bounce_1mffy_1 {
    0% {
      transform: translateY(0);
      animation-timing-function: ease-in;
    }
    50% {
      transform: translateY(-20px);
      animation-timing-function: ease-out;
    }
    to {
      transform: translateY(0);
      animation-timing-function: ease-in;
    }
  }
  @keyframes _bounceRotate_1mffy_1 {
    0% {
      transform: translateY(0);
      animation-timing-function: ease-in;
    }
    50% {
      transform: translateY(-10px) scale(1.2) rotate(-15deg);
      animation-timing-function: ease-out;
    }
    to {
      transform: translateY(0);
      animation-timing-function: ease-in;
    }
  }
  @keyframes _bounceRotateReverse_1mffy_1 {
    0% {
      transform: translateY(0) scaleX(-1);
      animation-timing-function: ease-in;
    }
    50% {
      transform: translateY(-10px) scaleX(-1) rotate(-15deg);
      animation-timing-function: ease-out;
    }
    to {
      transform: translateY(0) scaleX(-1);
      animation-timing-function: ease-in;
    }
  }
  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    transform: translateZ(0);
    z-index: 10;
  }
  .swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
  }
  .swiper-pagination-disabled > .swiper-pagination,
  .swiper-pagination.swiper-pagination-disabled {
    display: none !important;
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
  }
  .swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(0.33);
    position: relative;
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active,
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1);
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(0.66);
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.33);
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(0.66);
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(0.33);
  }
  .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 8px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 8px)
    );
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: var(--swiper-pagination-bullet-inactive-color, #000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
  }
  button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
  }
  .swiper-pagination-bullet:only-child {
    display: none !important;
  }
  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
  }
  .swiper-vertical > .swiper-pagination-bullets,
  .swiper-pagination-vertical.swiper-pagination-bullets {
    right: var(--swiper-pagination-right, 8px);
    left: var(--swiper-pagination-left, auto);
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-vertical.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
    display: block;
  }
  .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
  .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
  }
  .swiper-vertical
    > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet,
  .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet {
    display: inline-block;
    transition: 0.2s transform, 0.2s top;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  }
  .swiper-horizontal
    > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
  .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
  }
  .swiper-horizontal
    > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet {
    transition: 0.2s transform, 0.2s left;
  }
  .swiper-horizontal.swiper-rtl
    > .swiper-pagination-bullets-dynamic
    .swiper-pagination-bullet {
    transition: 0.2s transform, 0.2s right;
  }
  .swiper-pagination-fraction {
    color: var(--swiper-pagination-fraction-color, inherit);
  }
  .swiper-pagination-progressbar {
    background: var(
      --swiper-pagination-progressbar-bg-color,
      rgba(0, 0, 0, 0.25)
    );
    position: absolute;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
  }
  .swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top;
  }
  .swiper-horizontal > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-vertical
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: var(--swiper-pagination-progressbar-size, 4px);
    left: 0;
    top: 0;
  }
  .swiper-vertical > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-vertical,
  .swiper-horizontal
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
  .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
    width: var(--swiper-pagination-progressbar-size, 4px);
    height: 100%;
    left: 0;
    top: 0;
  }
  .swiper-pagination-lock {
    display: none;
  }
  ._card_xjhya_1 {
    text-align: center;
    box-shadow: 0 0 15px 4px #6fbafc80;
    max-width: 328px;
    width: 100%;
  }
  ._top_xjhya_8 {
    background-color: #000;
    border: 5px solid var(--main-shadow-color);
    border-bottom: none;
    height: 135px;
  }
  ._top_xjhya_8 > ._image_xjhya_15 {
    transform: translateY(-50px);
  }
  ._bottom_xjhya_19 {
    background-color: var(--main-color);
    padding: 15px 5px;
  }
  ._title_xjhya_24 {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    color: #010101;
  }
  ._text_xjhya_32 {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #010101b3;
    margin-top: 8px;
  }
  @media (min-width: 692px) {
    ._card_xjhya_1 {
      max-width: 528px;
    }
    ._top_xjhya_8 {
      height: 246px;
    }
    ._top_xjhya_8 > ._image_xjhya_15 {
      width: 100%;
    }
    ._bottom_xjhya_19 {
      padding: 20px 10px;
    }
    ._title_xjhya_24 {
      font-size: 24px;
    }
    ._text_xjhya_32 {
      font-size: 16px;
    }
  }
  @media (min-width: 1100px) {
    ._card_xjhya_1 {
      box-shadow: 0 0 30px 8px #6fbafc80;
      max-width: 815px;
      max-height: 506px;
    }
    ._top_xjhya_8 {
      height: 358px;
    }
    ._top_xjhya_8 > ._image_xjhya_15 {
      transform: translateY(-100px);
    }
    ._bottom_xjhya_19 {
      padding: 40px 71px;
      height: 160px;
    }
    ._title_xjhya_24 {
      font-size: 30px;
    }
    ._text_xjhya_32 {
      font-size: 18px;
    }
  }
  ._wrapper_t1n74_1 {
    padding: 40px 20px;
    background: var(--color-black-solid);
    display: flex;
    align-items: start;
    gap: 16px;
    opacity: 0;
    right: -100%;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: all 0.5s;
    height: 190px;
  }
  ._wrapper_t1n74_1._active_t1n74_16 {
    opacity: 1;
    position: relative;
    right: 0;
    z-index: 1;
  }
  ._position_t1n74_23 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 9px 16px;
    background: #1c1c1e;
    border: 1px solid rgba(255, 255, 255, 0.542);
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #fbfbfb;
  }
  ._title_t1n74_40 {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: var(--color-white-solid);
  }
  ._text_t1n74_48 {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    color: #ffffffb3;
    margin-top: 14px;
  }
  @media (min-width: 1100px) {
    ._wrapper_t1n74_1 {
      background: linear-gradient(180deg, #0f0f10, #0000);
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      opacity: 0.5;
      height: auto;
    }
    ._wrapper_t1n74_1._active_t1n74_16 {
      opacity: 1;
    }
    ._position_t1n74_23 {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 9px 16px;
      background: #1c1c1e;
      border: 1px solid rgba(255, 255, 255, 0.542);
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      color: #fbfbfb;
    }
    ._title_t1n74_40 {
      font-size: 24px;
      color: var(--color-grey-96);
    }
    ._text_t1n74_48 {
      font-size: 16px;
      color: var(--color-grey-79);
    }
  }
  ._wrapper_1jpyc_1 {
    background: radial-gradient(78.16% 78.16% at 50% 83.55%, #2b8ef380, #0000);
    overflow-x: hidden;
  }
  ._video_1jpyc_10 {
    border-radius: 8px 8px 0 0;
    width: 272px;
    height: 180px;
    margin: 0 auto;
    display: block;
    background: var(--color-black-solid);
  }
  ._videoWrapper_1jpyc_19 {
    width: 330px;
    height: 200px;
    margin: 50px auto 0;
    position: relative;
  }
  ._videoWrapper_1jpyc_19:before {
    content: url(/assets/macbookMock-TJNt-wav.svg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  ._progressBar_1jpyc_34 {
    position: absolute;
    top: -2px;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, #000000b3, #ffffffb3 60.42%, #ffffffb3);
    mix-blend-mode: overlay;
  }
  ._progressBarDesktopIndicate_1jpyc_48,
  ._progressBarIndicate_1jpyc_49 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    max-width: 100%;
    background: radial-gradient(
      circle,
      var(--main-color),
      var(--main-shadow-color)
    );
    z-index: 1;
    transition: 1s;
    animation: _progressAnimation_1jpyc_1 5s infinite linear;
  }
  ._progressBarDesktopIndicate_1jpyc_48:after,
  ._progressBarIndicate_1jpyc_49:after {
    content: "";
    position: absolute;
    right: 0;
    width: 10px;
    height: 2px;
    z-index: 1;
    box-shadow: 0 0 50px 20px #0549e5;
    background: linear-gradient(270deg, #0059df33, #0003);
  }
  ._progressBarDesktopIndicate_1jpyc_48 {
    display: none;
    animation-duration: 15s;
  }
  ._cards_1jpyc_87 {
    position: relative;
  }
  @media (min-width: 1100px) {
    ._video_1jpyc_10 {
      width: 710px;
      height: 466px;
    }
    ._videoWrapper_1jpyc_19 {
      width: 855px;
      height: 518px;
    }
    ._videoWrapper_1jpyc_19:before {
      content: url(/assets/macbookMockDesktop-1pcInjGB.svg);
    }
    ._progressBarIndicate_1jpyc_49 {
      display: none;
    }
    ._progressBarDesktopIndicate_1jpyc_48 {
      display: block;
      animation: _progressAnimation_1jpyc_1 15s infinite linear;
    }
    ._cards_1jpyc_87 {
      background: var(--color-black-solid);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @keyframes _progressAnimation_1jpyc_1 {
    0% {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  ._wrapper_1d2tw_1,
  ._container_1d2tw_2 {
    padding-left: 0;
    padding-right: 0;
  }
  ._cardContainer_ulq9z_1 {
    height: 70vh;
    display: flex;
    align-items: start;
    justify-content: center;
    position: sticky;
    top: 10vh;
    width: 100%;
    background: #030303;
  }
  ._cardContainer_ulq9z_1._selected_ulq9z_12 {
    background-color: var(--main-color);
  }
  ._card_ulq9z_1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 410px;
  }
  ._top_ulq9z_28 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ._positionImg_ulq9z_35 {
    width: 100px;
    animation: _flip_ulq9z_1 4s linear infinite alternate-reverse;
  }
  ._img_ulq9z_40 {
    width: 154px;
    height: auto;
    transform: scaleX(-1);
    animation: _flip_ulq9z_1 4s linear infinite alternate;
  }
  ._positionImg_ulq9z_35,
  ._img_ulq9z_40 {
    transform-origin: center;
  }
  ._title_ulq9z_52 {
    text-transform: uppercase;
  }
  ._title_ulq9z_52,
  ._text_ulq9z_57 {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 130%;
    color: #fbfbfb;
  }
  ._text_ulq9z_57 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
  }
  @media (min-width: 692px) {
    ._positionImg_ulq9z_35 {
      width: 170px;
    }
    ._img_ulq9z_40 {
      width: 230px;
    }
    ._title_ulq9z_52,
    ._text_ulq9z_57 {
      font-size: 24px;
    }
    ._text_ulq9z_57 {
      font-size: 18px;
    }
  }
  @media (min-width: 1100px) {
    ._cardContainer_ulq9z_1 {
      height: 100vh;
    }
    ._card_ulq9z_1 {
      max-width: 1240px;
    }
    ._positionImg_ulq9z_35 {
      width: 200px;
    }
    ._img_ulq9z_40 {
      width: 270px;
    }
    ._title_ulq9z_52,
    ._text_ulq9z_57 {
      font-size: 44px;
    }
    ._text_ulq9z_57 {
      font-size: 30px;
    }
  }
  @keyframes _flip_ulq9z_1 {
    0% {
      transform: perspective(9cm) rotateY(0) translateY(0);
    }
    to {
      transform: perspective(9cm) rotateY(20deg) translateY(20px);
    }
  }
  ._wrapper_7q4q7_1 {
    gap: 74px;
    padding-top: 100px;
    overflow-x: hidden;
    padding-left: 0;
    padding-right: 0;
  }
  ._cards_7q4q7_9 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: linear-gradient(173deg, #ffffff4d, #ffffff1a);
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 80px 25px;
    transform: translateY(-110px);
    position: relative;
  }
  ._title_7q4q7_26 {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 150px;
    line-height: 104%;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    position: relative;
  }
  ._title_7q4q7_26:before {
    content: "";
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -90%;
    width: 575px;
    height: 575px;
    border-radius: 50%;
    background: radial-gradient(circle, #2b8ef3 15%, #000 92%);
    filter: blur(40px);
    z-index: -2;
    animation: _pulse_7q4q7_1 4s infinite ease-in-out alternate;
  }
  ._bitcoin_7q4q7_53,
  ._gold_7q4q7_54 {
    display: none;
  }
  @media (min-width: 692px) {
    ._wrapper_7q4q7_1 {
      padding-top: 150px;
    }
    ._title_7q4q7_26 {
      font-size: 286px;
    }
    ._cards_7q4q7_9 {
      transform: translateY(-140px);
    }
  }
  @media (min-width: 1100px) {
    ._wrapper_7q4q7_1 {
      padding-top: 150px;
      position: relative;
    }
    ._title_7q4q7_26:before {
      bottom: -140%;
      width: 775px;
      height: 775px;
    }
    ._bitcoin_7q4q7_53,
    ._gold_7q4q7_54 {
      display: block;
      position: absolute;
      z-index: 1;
      animation: _bounce_7q4q7_1 2s linear infinite alternate;
    }
    ._bitcoin_7q4q7_53 {
      width: 290px;
      top: 0;
      left: 3%;
    }
    ._gold_7q4q7_54 {
      right: 5%;
      top: 270px;
      animation-direction: alternate-reverse;
      width: 300px;
    }
  }
  @keyframes _pulse_7q4q7_1 {
    0% {
      transform: scale(1);
      opacity: 0.7;
    }
    to {
      transform: scale(1.3);
      opacity: 1;
    }
  }
  @keyframes _bounce_7q4q7_1 {
    0% {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20px);
    }
  }
  