@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&family=Sora:wght@100..800&display=swap";
._wrapper_dltkq_1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: #03030380;
}
._container_dltkq_13 {
  width: 100%;
  max-width: 2370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
._burger_dltkq_22 {
  display: block;
  position: relative;
  transition: all 0.5s;
  width: 40px;
  height: 20px;
  cursor: pointer;
}
._burger_dltkq_22:before,
._burger_dltkq_22:after {
  content: "";
  border-radius: 10px;
  width: 40px;
  height: 2px;
  background: #fbfbfb;
  position: absolute;
  left: 0;
  transition: all 0.5s ease-in-out;
  transform-origin: center;
  top: 50%;
  transform: translateY(-50%);
}
._burger_dltkq_22:before {
  top: 10px;
  transform: translateY(-8px);
}
._burger_dltkq_22:after {
  bottom: 15px;
  transform: translateY(12px);
}
._burger_dltkq_22._open_dltkq_56:before {
  transform: translateY(0) rotate(45deg);
}
._burger_dltkq_22._open_dltkq_56:after {
  transform: translateY(0) rotate(-45deg);
}
._menuWrapper_dltkq_64 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: -100vh;
  opacity: 0;
  width: 100%;
  height: 425px;
  background: #030303cc;
  z-index: 1000;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  transition: all 0.5s;
}
._menuWrapper_dltkq_64._auth_dltkq_81 {
  height: 545px;
}
._menuWrapper_dltkq_64._open_dltkq_56 {
  top: 90px;
  left: 0;
  opacity: 1;
  overflow-y: scroll;
}
._navbarMenu_dltkq_95 {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: start;
}
._right_dltkq_103 {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}
._navLink_dltkq_111 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  color: #fbfbfb;
}
._navLink_dltkq_111._active_dltkq_119 {
  color: var(--main-color);
}
._accountWrapper_dltkq_123 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
._accountWrapper_dltkq_123 > p {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  color: #fefefe;
}
._authLinksWrapper_dltkq_138,
._authLoginLinkWrapper_dltkq_139 {
  display: flex;
  align-items: center;
  gap: 10px;
}
._authLoginLinkWrapper_dltkq_139 > ._or_dltkq_145 {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 14px;
  color: #fefefe;
}
._supportLink_dltkq_152 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 14px;
  color: #fefefe;
}
button._account_dltkq_123 svg {
  width: 25px;
  height: 25px;
}
button._account_dltkq_123._active_dltkq_119 svg path {
  stroke: var(--main-color);
}
@media (min-width: 1100px) {
  ._container_dltkq_13 {
    padding: 19px 105px;
  }
  ._burger_dltkq_22 {
    display: none;
  }
  ._menuWrapper_dltkq_64 {
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    opacity: 1;
    width: auto;
    height: auto;
    background: none;
    z-index: 1;
    padding: 0;
    flex-direction: row;
    gap: 85px;
  }
  ._menuWrapper_dltkq_64._auth_dltkq_81 {
    height: auto;
  }
  ._navbarMenu_dltkq_95 {
    margin: 0;
    flex-direction: row;
    align-items: center;
  }
  ._navLink_dltkq_111 {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    padding: 0;
    transition: 0.5s;
  }
  ._navLink_dltkq_111:hover {
    color: var(--main-color);
    text-shadow: 0 4px 28px var(--main-shadow-color);
  }
  ._right_dltkq_103 {
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
  ._accountWrapper_dltkq_123 > p,
  ._authLoginLinkWrapper_dltkq_139,
  ._supportLink_dltkq_152 > span {
    display: none;
  }
}
._button_1wisi_1 {
  height: fit-content;
  width: fit-content;
}
._button_1wisi_1 svg path {
  transition: stroke 0.2s;
}
._button_1wisi_1._blueShadow_1wisi_12 svg path {
  stroke: var(--white-color);
}
@media (hover: hover) {
  ._button_1wisi_1._blueShadow_1wisi_12:hover {
    filter: drop-shadow(0px 4px 16px var(--main-shadow-color));
  }
  ._button_1wisi_1._blueShadow_1wisi_12:hover svg path {
    stroke: var(--main-color);
  }
  ._button_1wisi_1._blueShadow_1wisi_12:active svg path {
    stroke: var(--main-color);
  }
}
._wrapper_1xdl1_1 {
  position: relative;
}
._button_1xdl1_5 {
  display: none;
}
._container_1xdl1_9 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-top: 40px;
}
._langButton_1xdl1_17 {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 179%;
  text-align: center;
  color: #fbfbfb;
}
._langButton_1xdl1_17._active_1xdl1_26 {
  color: var(--main-color);
}
@media (min-width: 1100px) {
  ._button_1xdl1_5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 100%;
    border-radius: 12px 12px 0 0;
    transition: background 0.2s;
  }
  ._button_1xdl1_5._open_1xdl1_41 ._currLang_1xdl1_41,
  ._button_1xdl1_5:hover ._currLang_1xdl1_41 {
    color: var(--main-color);
    text-shadow: 0 4px 28px var(--main-shadow-color);
  }
  ._currLang_1xdl1_41 {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #fbfbfb;
    transition: all 0.2s;
  }
  ._dropdown_1xdl1_56 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 0 0 12px 12px;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.2s;
  }
  ._container_1xdl1_9 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 0;
    min-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.2s, padding 0.2s, opacity 0.2s;
  }
  ._dropdown_1xdl1_56._open_1xdl1_41 {
    grid-template-rows: 1fr;
  }
  ._dropdown_1xdl1_56._open_1xdl1_41 ._container_1xdl1_9 {
    opacity: 1;
    visibility: visible;
  }
  ._langButton_1xdl1_17 {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #fbfbfb;
    transition: color 0.2s;
  }
  ._langButton_1xdl1_17:hover,
  ._active_1xdl1_26 {
    color: var(--main-color);
  }
}
._link_18p1q_1 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 24px;
  color: #fbfbfb;
  transition: all 0.5s;
}
@media (min-width: 692px) {
  ._link_18p1q_1 {
    font-size: 26px;
  }
}
@media (hover: hover) {
  ._link_18p1q_1:hover {
    color: #2b8ef3;
    text-shadow: 0 4px 28px #6fbafc;
  }
}
._wrapper_7z5zm_1 {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 150px;
  overflow-x: hidden;
}
._container_7z5zm_9 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-top: 50px;
  padding-bottom: 50px;
}
._marqueeContainer_7z5zm_19 {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  width: 100%;
}
._topBorderContainer_7z5zm_27 {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  width: 100%;
}
._topContainer_7z5zm_33 {
  margin: 0 auto;
  max-width: 2370px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
}
._socials_7z5zm_43 {
  display: flex;
  gap: 16px;
  align-items: center;
}
._socials_7z5zm_43 svg {
  width: 28px;
  height: 28px;
}
._info_7z5zm_54 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5px;
}
._copyright_7z5zm_62 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #b4b9c9;
}
._links_7z5zm_71 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
._link_7z5zm_71,
._separator_7z5zm_80 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #c4c4c4;
}
._separator_7z5zm_80 {
  text-decoration-line: none;
}
@media (min-width: 1100px) {
  ._topContainer_7z5zm_33 {
    padding-left: 105px;
    padding-right: 105px;
  }
  ._topBorderContainer_7z5zm_27 {
    margin-top: 50px;
  }
  ._wrapper_7z5zm_1 {
    padding-top: 200px;
  }
  ._marqueeContainer_7z5zm_19 {
    top: 120px;
  }
}
@media (hover: hover) {
  ._socials_7z5zm_43 svg {
    transition: 0.5s;
  }
  ._socials_7z5zm_43 svg:hover {
    transform: scale(1.15);
  }
}
._marqueeContainer_v1xye_1 {
  box-shadow: 0 4px 11px 5px #00000026;
  background: #2b8ef3;
  padding: 15px;
  transform: rotate(-4deg) !important;
}
._marqueeContainer_v1xye_1:nth-child(2) {
  transform: translateY(-40px) rotate(4deg) !important;
  position: relative;
  z-index: 1;
}
._text_v1xye_14 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #101010;
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 50px;
}
@media (min-width: 1740px) {
  ._marqueeContainer_v1xye_1 {
    padding: 23px;
  }
  ._text_v1xye_14 {
    font-size: 16px;
  }
}
._wrapper_16p5b_1 {
  padding: 150px 24px 24px;
  position: relative;
}
._cross_16p5b_7 {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  z-index: 2;
}
@media (min-width: 1100px) {
  ._wrapper_16p5b_1 {
    padding: 0;
  }
  ._cross_16p5b_7 {
    width: 40px;
    height: 40px;
  }
}
@media (hover: hover) {
  ._cross_16p5b_7 svg path {
    transition: 0.5s;
  }
  ._cross_16p5b_7:hover svg path {
    fill: #fff;
  }
}
._loaderContainer_h0rgt_1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  background: linear-gradient(89deg, #03030366, #ffffff4d 71%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  z-index: 1000;
}
._loaderDots_h0rgt_20 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
._dot_h0rgt_28 {
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  border-radius: 50%;
  animation: _bounce_h0rgt_1 1.2s infinite ease-in-out;
}
._dot_h0rgt_28:nth-child(2) {
  animation-delay: 0.2s;
}
._dot_h0rgt_28:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes _bounce_h0rgt_1 {
  0%,
  80%,
  to {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-offset: 16px;
  --toastify-toast-top: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-top)
  );
  --toastify-toast-right: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-right)
  );
  --toastify-toast-left: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-left)
  );
  --toastify-toast-bottom: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-bottom)
  );
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-toast-bd-radius: 6px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  --toastify-color-progress-bgo: 0.2;
}
.Toastify__toast-container {
  z-index: var(--toastify-z-index);
  -webkit-transform: translate3d(0, 0, var(--toastify-z-index));
  position: fixed;
  padding: 4px;
  width: var(--toastify-toast-width);
  box-sizing: border-box;
  color: #fff;
}
.Toastify__toast-container--top-left {
  top: var(--toastify-toast-top);
  left: var(--toastify-toast-left);
}
.Toastify__toast-container--top-center {
  top: var(--toastify-toast-top);
  left: 50%;
  transform: translate(-50%);
}
.Toastify__toast-container--top-right {
  top: var(--toastify-toast-top);
  right: var(--toastify-toast-right);
}
.Toastify__toast-container--bottom-left {
  bottom: var(--toastify-toast-bottom);
  left: var(--toastify-toast-left);
}
.Toastify__toast-container--bottom-center {
  bottom: var(--toastify-toast-bottom);
  left: 50%;
  transform: translate(-50%);
}
.Toastify__toast-container--bottom-right {
  bottom: var(--toastify-toast-bottom);
  right: var(--toastify-toast-right);
}
@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: env(safe-area-inset-left);
    margin: 0;
  }
  .Toastify__toast-container--top-left,
  .Toastify__toast-container--top-center,
  .Toastify__toast-container--top-right {
    top: env(safe-area-inset-top);
    transform: translate(0);
  }
  .Toastify__toast-container--bottom-left,
  .Toastify__toast-container--bottom-center,
  .Toastify__toast-container--bottom-right {
    bottom: env(safe-area-inset-bottom);
    transform: translate(0);
  }
  .Toastify__toast-container--rtl {
    right: env(safe-area-inset-right);
    left: initial;
  }
}
.Toastify__toast {
  --y: 0;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  min-height: var(--toastify-toast-min-height);
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: var(--toastify-toast-bd-radius);
  box-shadow: 0 4px 12px #0000001a;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: var(--toastify-toast-max-height);
  font-family: var(--toastify-font-family);
  cursor: default;
  direction: ltr;
  z-index: 0;
  overflow: hidden;
}
.Toastify__toast--stacked {
  position: absolute;
  width: 100%;
  transform: translate3d(0, var(--y), 0) scale(var(--s));
  transition: transform 0.3s;
}
.Toastify__toast--stacked[data-collapsed] .Toastify__toast-body,
.Toastify__toast--stacked[data-collapsed] .Toastify__close-button {
  transition: opacity 0.1s;
}
.Toastify__toast--stacked[data-collapsed="false"] {
  overflow: visible;
}
.Toastify__toast--stacked[data-collapsed="true"]:not(:last-child) > * {
  opacity: 0;
}
.Toastify__toast--stacked:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: calc(var(--g) * 1px);
  bottom: 100%;
}
.Toastify__toast--stacked[data-pos="top"] {
  top: 0;
}
.Toastify__toast--stacked[data-pos="bot"] {
  bottom: 0;
}
.Toastify__toast--stacked[data-pos="bot"].Toastify__toast--stacked:before {
  transform-origin: top;
}
.Toastify__toast--stacked[data-pos="top"].Toastify__toast--stacked:before {
  transform-origin: bottom;
}
.Toastify__toast--stacked:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  transform: scaleY(3);
  z-index: -1;
}
.Toastify__toast--rtl {
  direction: rtl;
}
.Toastify__toast--close-on-click {
  cursor: pointer;
}
.Toastify__toast-body {
  margin: auto 0;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.Toastify__toast-body > div:last-child {
  word-break: break-word;
  -ms-flex: 1;
  flex: 1;
}
.Toastify__toast-icon {
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  width: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
}
.Toastify--animate {
  animation-fill-mode: both;
  animation-duration: 0.5s;
}
.Toastify--animate-icon {
  animation-fill-mode: both;
  animation-duration: 0.3s;
}
@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin-bottom: 0;
    border-radius: 0;
  }
}
.Toastify__toast-theme--dark {
  background: var(--toastify-color-dark);
  color: var(--toastify-text-color-dark);
}
.Toastify__toast-theme--light,
.Toastify__toast-theme--colored.Toastify__toast--default {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  color: var(--toastify-text-color-info);
  background: var(--toastify-color-info);
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  color: var(--toastify-text-color-success);
  background: var(--toastify-color-success);
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  color: var(--toastify-text-color-warning);
  background: var(--toastify-color-warning);
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  color: var(--toastify-text-color-error);
  background: var(--toastify-color-error);
}
.Toastify__progress-bar-theme--light {
  background: var(--toastify-color-progress-light);
}
.Toastify__progress-bar-theme--dark {
  background: var(--toastify-color-progress-dark);
}
.Toastify__progress-bar--info {
  background: var(--toastify-color-progress-info);
}
.Toastify__progress-bar--success {
  background: var(--toastify-color-progress-success);
}
.Toastify__progress-bar--warning {
  background: var(--toastify-color-progress-warning);
}
.Toastify__progress-bar--error {
  background: var(--toastify-color-progress-error);
}
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
  background: var(--toastify-color-transparent);
}
.Toastify__close-button {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  -ms-flex-item-align: start;
  align-self: flex-start;
  z-index: 1;
}
.Toastify__close-button--light {
  color: #000;
  opacity: 0.3;
}
.Toastify__close-button > svg {
  fill: currentColor;
  height: 16px;
  width: 14px;
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
  opacity: 1;
}
@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--toastify-z-index);
  opacity: 0.7;
  transform-origin: left;
  border-bottom-left-radius: var(--toastify-toast-bd-radius);
}
.Toastify__progress-bar--animated {
  animation: Toastify__trackProgress linear 1 forwards;
}
.Toastify__progress-bar--controlled {
  transition: transform 0.2s;
}
.Toastify__progress-bar--rtl {
  right: 0;
  left: initial;
  transform-origin: right;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: var(--toastify-toast-bd-radius);
}
.Toastify__progress-bar--wrp {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-bottom-left-radius: var(--toastify-toast-bd-radius);
}
.Toastify__progress-bar--wrp[data-hidden="true"] {
  opacity: 0;
}
.Toastify__progress-bar--bg {
  opacity: var(--toastify-color-progress-bgo);
  width: 100%;
  height: 100%;
}
.Toastify__spinner {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 100%;
  border-color: var(--toastify-spinner-color-empty-area);
  border-right-color: var(--toastify-spinner-color);
  animation: Toastify__spin 0.65s linear infinite;
}
@keyframes Toastify__bounceInRight {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, var(--y), 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, var(--y), 0);
  }
}
@keyframes Toastify__bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, var(--y), 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, var(--y), 0);
  }
}
@keyframes Toastify__bounceInUp {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes Toastify__bounceOutUp {
  20% {
    transform: translate3d(0, calc(var(--y) - 10px), 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, calc(var(--y) + 20px), 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes Toastify__bounceInDown {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutDown {
  20% {
    transform: translate3d(0, calc(var(--y) - 10px), 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, calc(var(--y) + 20px), 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
.Toastify__bounce-enter--top-left,
.Toastify__bounce-enter--bottom-left {
  animation-name: Toastify__bounceInLeft;
}
.Toastify__bounce-enter--top-right,
.Toastify__bounce-enter--bottom-right {
  animation-name: Toastify__bounceInRight;
}
.Toastify__bounce-enter--top-center {
  animation-name: Toastify__bounceInDown;
}
.Toastify__bounce-enter--bottom-center {
  animation-name: Toastify__bounceInUp;
}
.Toastify__bounce-exit--top-left,
.Toastify__bounce-exit--bottom-left {
  animation-name: Toastify__bounceOutLeft;
}
.Toastify__bounce-exit--top-right,
.Toastify__bounce-exit--bottom-right {
  animation-name: Toastify__bounceOutRight;
}
.Toastify__bounce-exit--top-center {
  animation-name: Toastify__bounceOutUp;
}
.Toastify__bounce-exit--bottom-center {
  animation-name: Toastify__bounceOutDown;
}
@keyframes Toastify__zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes Toastify__zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translate3d(0, var(--y), 0) scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.Toastify__zoom-enter {
  animation-name: Toastify__zoomIn;
}
.Toastify__zoom-exit {
  animation-name: Toastify__zoomOut;
}
@keyframes Toastify__flipIn {
  0% {
    transform: perspective(400px) rotateX(90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateX(-20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotateX(-5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@keyframes Toastify__flipOut {
  0% {
    transform: translate3d(0, var(--y), 0) perspective(400px);
  }
  30% {
    transform: translate3d(0, var(--y), 0) perspective(400px) rotateX(-20deg);
    opacity: 1;
  }
  to {
    transform: translate3d(0, var(--y), 0) perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}
.Toastify__flip-enter {
  animation-name: Toastify__flipIn;
}
.Toastify__flip-exit {
  animation-name: Toastify__flipOut;
}
@keyframes Toastify__slideInRight {
  0% {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideInLeft {
  0% {
    transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideInUp {
  0% {
    transform: translate3d(0, 110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideInDown {
  0% {
    transform: translate3d(0, -110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideOutRight {
  0% {
    transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(110%, var(--y), 0);
  }
}
@keyframes Toastify__slideOutLeft {
  0% {
    transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-110%, var(--y), 0);
  }
}
@keyframes Toastify__slideOutDown {
  0% {
    transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0);
  }
}
@keyframes Toastify__slideOutUp {
  0% {
    transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -500px, 0);
  }
}
.Toastify__slide-enter--top-left,
.Toastify__slide-enter--bottom-left {
  animation-name: Toastify__slideInLeft;
}
.Toastify__slide-enter--top-right,
.Toastify__slide-enter--bottom-right {
  animation-name: Toastify__slideInRight;
}
.Toastify__slide-enter--top-center {
  animation-name: Toastify__slideInDown;
}
.Toastify__slide-enter--bottom-center {
  animation-name: Toastify__slideInUp;
}
.Toastify__slide-exit--top-left,
.Toastify__slide-exit--bottom-left {
  animation-name: Toastify__slideOutLeft;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}
.Toastify__slide-exit--top-right,
.Toastify__slide-exit--bottom-right {
  animation-name: Toastify__slideOutRight;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}
.Toastify__slide-exit--top-center {
  animation-name: Toastify__slideOutUp;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}
.Toastify__slide-exit--bottom-center {
  animation-name: Toastify__slideOutDown;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}
@keyframes Toastify__spin {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --font-family: "Rubik Mono One", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Poppins", sans-serif;
  --font3: "Sora", sans-serif;
  --font4: "Drummer", sans-serif;
  --font5: "Cy Grotesk Wide", sans-serif;
  --font6: "Zen Dots", sans-serif;
  --font7: "Roboto", sans-serif;
  --main-color: #2b8ef3;
  --main-shadow-color: #6fbafc;
  --white-color: #fff;
  --color-black-solid: #000;
  --color-grey-96-700: rgba(239, 237, 253, 0.7);
  --color-grey-96-600: rgba(239, 237, 253, 0.6);
  --color-grey-97-60: rgba(243, 238, 255, 0.06);
  --color-grey-97-100: rgba(243, 238, 255, 0.1);
  --color-white--50: rgba(255, 255, 255, 0.05);
  --color-white--160: rgba(255, 255, 255, 0.16);
  --color-blue-4-100: rgba(4, 1, 21, 0.1);
  --color-white--240: rgba(255, 255, 255, 0.24);
  --color-white--40: rgba(255, 255, 255, 0.04);
  --color-white--10: rgba(255, 255, 255, 0.01);
  --color-blue-4: #030014;
  --color-white--400: rgba(255, 255, 255, 0.4);
  --color-blue-53: #5c34db;
  --color-blue-59: #663af3;
  --color-azure-85-120: rgba(186, 207, 247, 0.12);
  --color-azure-90: #d1e4fa;
  --color-azure-85-220: rgba(186, 215, 247, 0.22);
  --color-azure-85-300: rgba(187, 215, 247, 0.3);
  --color-azure-85-240: rgba(186, 207, 247, 0.24);
  --color-red-60: #e46d4c;
  --color-azure-46: #027dea;
  --color-cyan-37: #269684;
  --color-azure-85-40: rgba(186, 207, 247, 0.04);
  --color-azure-85-780: rgba(200, 212, 234, 0.78);
  --color-azure-85-20: rgba(186, 207, 247, 0.02);
  --color-blue-4: #05060f;
  --color-azure-85-640: rgba(199, 211, 234, 0.64);
  --color-azure-85-80: rgba(186, 207, 247, 0.08);
  --color-azure-85-60: rgba(187, 215, 247, 0.06);
  --color-blue-4-400: rgba(6, 6, 14, 0.4);
  --color-azure-85-30: rgba(186, 214, 247, 0.03);
  --color-azure-85: #bacff7;
  --color-azure-85-320: rgba(186, 214, 247, 0.32);
  --color-white--200: rgba(255, 255, 255, 0.2);
  --color-blue-4-970: rgba(5, 6, 15, 0.97);
  --color-blue-85: #b3b3ff;
  --color-blue-4-600: rgba(5, 6, 15, 0.6);
  --color-blue-4-300: rgba(5, 6, 15, 0.3);
  --color-blue-4-200: rgba(5, 6, 15, 0.2);
  --color-azure-85-10: rgba(186, 214, 247, 0.01);
  --color-grey-2: #050505;
  --color-white--0-20: rgba(255, 255, 255, 0);
  --color-white--260: rgba(255, 255, 255, 0.26);
  --color-grey-69: #afafaf;
  --color-grey-95: #f0f0f6;
  --color-grey-43: #666977;
  --color-blue-60: #523ff5;
  --color-grey-51: #828282;
  --color-grey-2-50: rgba(5, 5, 5, 0.05);
  --color-blue-61: #4a3aff;
  --color-grey-79: #c7c7cc;
  --color-grey-57: #8e8e93;
  --color-azure-53: #1a97f5;
  --color-white-solid: #fff;
  --color-azure-48: #008bf4;
  --color-azure-50: #09f;
  --color-grey-6: #0f0f10;
  --color-grey-11: #1c1c1e;
  --color-grey-96: #f2f2f7;
  --color-grey-83: #d1d1d6;
  --color-white--20: rgba(255, 255, 255, 0.02);
  --color-spring-green-36: #219653;
  --color-grey-39: #636366;
  --color-grey-18: #2c2c2e;
  --color-white--100: rgba(255, 255, 255, 0.1);
  --color-azure-5: #000f1a;
  --color-grey-97: #f7f7f7;
  --color-grey-23: #3a3a3c;
  --color-black--600: rgba(0, 0, 0, 0.6);
  --color-grey-20: #333;
  --color-grey-89: #e3e3e3;
  --color-grey-36: #5d5d5d;
  --color-blue-26: #3a3c4c;
  --color-grey-46: #737376;
}
#root {
  position: relative;
  width: 100%;
}
body {
  color: var(--white-color);
  background: #000;
}
.proposal-swiper .swiper-pagination-bullet {
  background-color: gray !important;
  opacity: 0.6;
}
.proposal-swiper .swiper-pagination-bullet-active {
  background-color: #fbfbfb !important;
  opacity: 1;
}
@media (min-width: 1100px) {
  .team-swiper,
  .team-swiper .swiper-slide,
  .team-swiper .swiper-slide-active,
  .team-swiper .swiper-slide-next {
    transition: transform 0.5s ease-in;
  }
  .team-swiper .swiper-slide-prev,
  .team-swiper .swiper-slide-next {
    transform: scale(0.5) !important;
    opacity: 0.5;
  }
  .team-swiper .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
  }
  .team-swiper .swiper-button-next,
  .team-swiper .swiper-button-prev {
    display: none;
  }
}
._loaderOverlay_12gzw_1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
._loader_12gzw_1 {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 8px solid #ffffff;
  width: 60px;
  height: 60px;
  animation: _spin_12gzw_1 1s linear infinite;
}
@keyframes _spin_12gzw_1 {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  border: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}
aside,
nav,
footer,
header,
section,
main {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}
ul,
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
img,
svg {
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}
input::-ms-clear {
  display: none;
}
button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
label {
  cursor: pointer;
}
legend {
  display: block;
}
