._wrapper_hq2vv_1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ._container_hq2vv_8 {
    padding: 40px 24px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  @media (min-width: 692px) {
    ._container_hq2vv_8 {
      padding: 50px 98px;
    }
  }
  @media (min-width: 1440px) {
    ._container_hq2vv_8 {
      max-width: 2370px;
    }
  }
  